body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #a3c18f;
}

/* Cabeçalho */
header {
  background-color: #f5e8c7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo {
  height: 140px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: green;
}

.icone-sair {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

/* Conteúdo principal */
.admin-container {
  padding: 40px 60px;
  color: #333;
}
