body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fdf8f3;
}

header {
  background-color: #c7d5a4;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.logo {
  height: 140px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover,
nav a.ativo {
  color: #7c9a4b;
}

nav .premium {
  color: #88b04b;
  font-weight: bold;
}

.icone-cadeado {
  height: 25px;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.formulario {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.caixa {
  background-color: #fff8ef;
  border: 2px solid #e6e2d8;
  border-radius: 15px;
  padding: 30px 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  text-align: center;
  position: relative;
  z-index: 2;
}

h2 {
  margin-bottom: 5px;
}

.green {
  color: #88b04b;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  width: 100%;
}

.linha-cartao {
  display: flex;
  gap: 10px;
}

.pequeno {
  width: 80px;
}

.termos {
  text-align: left;
  font-size: 12px;
}

button {
  background-color: #5d7d37;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}
