body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #f5e8c7;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.logo {
  height: 140px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

nav li {
  color: #333;
  font-size: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.banner {
  position: relative;
  width: 100%;
}

.banner img {
  width: 100%;
  height: 400px;
}

.categorias {
  background-color: #a1bb84;
  text-align: center;
  padding: 40px 20px;
}

.categorias h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 24px;
}

.icones {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.icones div {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.icones img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
 
}

.receitas {
    padding: 40px 60px;
    background-color: #f5e8c7;
    color: #333;
}

.grid-receitas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.receita-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.receita-card p {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

.receita-card:hover {
   transform: scale(1.03);
    cursor: pointer;
    background-color: #eef6eb;
}

.btn-receita {
    background-color: #6f9e4f;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-receita:hover {
    background-color: #5c8540;
}

.receita-img {
    width: 100%;
    height: 140px;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
}

.receita-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    border-radius: 8px;
}

nav ul li a {
  text-decoration: none;     
  color: black;             
  transition: color 0.3s;    
}

nav ul li a:hover {
  color: green;             
}