

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
  }

  .login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }

  .login-box h2 {
    margin-bottom: 30px;
    color: #2c1c1c;
  }

  .input-group {
    margin-bottom: 20px;
    text-align: left;
  }

  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e2e2e2;
    border-radius: 5px;
    font-size: 14px;
  }

  .input-group label {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #333;
  }

  .login-button {
    background-color: #6b954e;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
  }

  .register-link {
    margin-top: 20px;
    font-size: 14px;
  }

  .register-link a {
    color: #6b954e;
    text-decoration: none;
  }

  .register-link a:hover {
    text-decoration: underline;
  }