


.perfil-icon {
  height: 25px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 20px;
  text-align: center;
}

.sobre-nos {
  max-width: 800px;
}

.sobre-nos h1 {
  font-size: 2em;
  margin-bottom: 15px;
}

.sobre-nos .descricao {
  font-style: italic;
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 40px;
}

.sobre-nos h2 {
  margin-bottom: 30px;
  font-size: 1.5em;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img.perfil {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1em;
  font-weight: 500;
  color: white;
}