 

    .sugestao-container {
      background-color: #d1d9b1;
      border-bottom-left-radius: 50% 20%;
      border-bottom-right-radius: 50% 20%;
      padding: 100px 20px 160px;
      text-align: center;
    }

    .sugestao-container h1 {
      font-size: 32px;
      color: #2c1c1c;
    }

    .sugestao-container p {
      font-size: 20px;
      margin-top: 10px;
      color: #2c1c1c;
    }

    .sugestao-form {
      margin-top: 40px;
    }

    .sugestao-form input {
      width: 400px;
      max-width: 90%;
      padding: 15px;
      border-radius: 25px;
      border: none;
      background-color: #6b954e;
      color: white;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
    }

    .sugestao-form input::placeholder {
      color: white;
      opacity: 0.7;
    }

    .descricao {
      margin-top: 20px;
      font-size: 14px;
      color: #2c1c1c;
    }

    .logo-img {
  width: 30px;
  height: 30px;
}

.icone-cadeado {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btn-enviar {
  margin-left: 10px;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  background-color: #6b954e;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-enviar:hover {
  background-color: #6b954e;
}
